/* ==========================================================================
** MiniPokemon Grid Item Styles
** 14/04/2019
** Alan Medina Silva
** ========================================================================== */

.px-idContainer {
    background-color: #ef9809;
    text-align: center;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

p.px-greyTitle.px-miniPokemonTitle {
    font-size: 1.2em;
    font-weight: 700;
}

p.px-greyText.px-miniPokemonType {
    font-size: 1.2em;
    font-weight: 400;
}

.px-pokemonImageGrid {
    width: 250px;
    opacity: 1;
}


.px-loadingImage {
    max-width: 150px;
    opacity: 0.1;
}

.px-miniPokemonContainer {
    cursor: pointer;
    padding : 10px;
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}

.px-miniPokemonContainer:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}