/* ==========================================================================
** Pokemon Details Styles
** 13/04/2019
** Alan Medina Silva
** ========================================================================== */
 


.px-pokemonDetailsContainer {
    width: 100%;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 20px;
}

.px-pokemonImageContainer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.px-pokemonStatsContainer ul {
    list-style: none;
}

.px-pokemonStat {
    width: 100%;
    margin: 10px 0;
}

.px-responsiveRow.px-profileItem {
    align-items: center;
}

h2.px-pokemonTitle {
    text-align: center;
    font-size: 1.8rem;
}


.px-responsiveRow.px-profileItem.px-profileItemDetails {
    justify-content: space-between;
    padding: 5px 0;
}

