/* ==========================================================================
** Progress Bar Styles
** 13/04/2019
** Alan Medina Silva
** ========================================================================== */

.px-progress-bar {
  background-color: #d8d8d8;
  height: 28px;
  position: relative;
  width: 120px;
  border-radius: 5px;
}

.px-progress-bar span.px-filler {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out;
}

.px-blue span.px-filler {
  background-color: #34c2e3;
}

.px-orange span.px-filler {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215);
}

.px-green span.px-filler {
  background-color: #66b311;
  background-image: linear-gradient(top, #a5df41, #4ca916);
}

.px-stripes span.px-filler {
  max-width: 120px;
  background-size: 15px 15px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  animation: animate-stripes 3s linear infinite;
}

.px-counter {
  position: absolute;
  color: #fff;
  left: 3px;
  top: 3px;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}

.px-progressBar {
  position: relative;
  background-color: #d8d8d8;
  height: 28px;
  width: 140px;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  /* To center it vertically */
  color: white;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.px-filler {
  background: #66b311;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.px-progressBar span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}