/* ==========================================================================
** Pokeball Layout Styles
** 13/04/2019
** Alan Medina Silva
** ========================================================================== */


.px-cardContent h2 {
    margin-bottom: 25px;
}

.px-cardContentImage  {
    width: 300px;
    height: auto;
}