/* ==========================================================================
** Pokeball Layout Styles
** 13/04/2019
** Alan Medina Silva
** ========================================================================== */

.px-pokeballContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.px-pokeballContainer h2 {
    margin-bottom: 25px;
}

.px-pokeballContainer img {
    width: 300px;
    height: auto;
}