/* ==========================================================================
** App General Styles
** Using blueprintcss to Grid Layout (https://blueprintcss.dev/)
** 13/04/2019
** Alan Medina Silva
** ========================================================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #f7f7f7;
}

.App {
  width: 100%;
}

.px-pokedexContainer {
  width: 100%;
  padding: 12px 25px;
}

.px-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.px-greyTitle {
  color: #4a4a4a;
}

.px-greyText {
  color: #9c9797;
}

/* This Row transforms to Column on Responsive */

.px-responsiveRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.px-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}