/* ==========================================================================
** App General Styles
** Using Flexbox Grid to Grid Layout (https://github.com/kristoferjoseph/flexboxgrid)
** 13/04/2019
** Alan Medina Silva
** ========================================================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}

.App {
  width: 100%;
}